.trash {
	position: fixed;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	height: 50px;
	width: 50px;
	border-top-left-radius: 100%;
	line-height: 60px;
	text-align: right;
	padding-right: 10px;
	color: #FFF;
	font-size: 20px;
	border-top: solid 0.5px rgba(0, 0, 0, 0.3);
	border-left: solid 0.5px rgba(0, 0, 0, 0.3);
	transition: all .3s ease-in-out;
}
.trash:hover {
/*	height: 150px;
	width: 150px;
	line-height: 180px;
	padding-right: 30px;
	font-size: 50px;*/
}