body {
	background: #F6F6F6;
}
.container,.container-fluid {
	display: flex;
}
.Todo li, .Todo input{
	border-left: 5px solid #e74c3c;
}
.OnGoing li, .OnGoing input{
	border-left: 5px solid #f39c12;
}
.Done li, .Done input{
	border-left: 5px solid #2ecc71;
}
